<a href="https://colab.research.google.com/github/Ralph0210/AI-course/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [213]:
import pandas as pd
import numpy as np

In [ ]:
!sudo apt-get remove git
!sudo apt-get install git

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  git-man liberror-perl
Use 'sudo apt autoremove' to remove them.
The following packages will be REMOVED:
  git
0 upgraded, 0 newly installed, 1 to remove and 12 not upgraded.
After this operation, 32.3 MB disk space will be freed.
(Reading database ... 146364 files and directories currently installed.)
Removing git (1:2.17.1-1ubuntu0.7) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  gettext-base git-daemon-run | git-daemon-sysvinit git-doc git-el git-email
  git-gui gitk gitweb git-cvs git-mediawiki git-svn
The following NEW packages will be installed:
  git
0 upgraded, 1 newly installed, 0 to remove and 12 not upgraded.
Need to get 3,915 kB of archives.
After this operation, 32.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 git amd64 1:2.17.1-1ubuntu0.7 [3,915 kB]
Fetched 3,915 kB in 1s (4,259 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package git.
(Reading database ... 145640 files and directories currently installed.)
Preparing to unpack .../git_1%3a2.17.1-1ubuntu0.7_amd64.deb ...
Unpacking git (1:2.17.1-1ubuntu0.7) ...
Setting up git (1:2.17.1-1ubuntu0.7) ...

In [ ]:
lis = [1,2,3,4]
df = pd.DataFrame(lis, index = ['a','b','c','e'], columns= ['value'])
df

   value
a      1
b      2
c      3
e      4

In [ ]:
df1 = pd.DataFrame(np.array([[10,20],[30,90]]))
print(df1)
df1.shape

    0   1
0  10  20
1  30  90

(2, 2)

In [ ]:
pd.read_csv('/content/sample_data/california_housing_train.csv')

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
df2 = pd.DataFrame({'name': ['Raphael', 'Donatello'], 
                    'mask': ['red', 'purple'],
                    'weapon': ['sai', 'bo staff']})
df2.to_excel('test.xlsx', index = False)

In [ ]:
price = pd.Series([21312,1241414,1415435,14636531461,6134616134], name="price")
price

0          21312
1        1241414
2        1415435
3    14636531461
4     6134616134
Name: price, dtype: int64

In [ ]:
!git clone https://github.com/Ralph0210/AI-course.git
# connect with github

fatal: destination path 'AI-course' already exists and is not an empty directory.

In [ ]:
type(price)

pandas.core.series.Series

In [ ]:
temp = {'mon': 33, "tue": 19, "wed": 15}
pd.Series(temp)

mon    33
tue    19
wed    15
dtype: int64

In [ ]:
print('mean:',price.mean())
print('sum:', price.sum())
print(price.head(1))
print(price.tail(1))
print(price.max())
print(dir(price))

mean: 4154765151.2
sum: 20773825756
0    21312
Name: price, dtype: int64
4    6134616134
Name: price, dtype: int64
14636531461
['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_convert_dtypes', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [ ]:
df3 = pd.DataFrame({'col1': [1,2], 
                    'col2': [0.5, 0.75]},
                   index = ['row1', 'row2'])
df3

      col1  col2
row1     1  0.50
row2     2  0.75

In [ ]:
price.dtype

dtype('int64')

In [ ]:
price[(price>200000)]

1        1241414
2        1415435
3    14636531461
4     6134616134
Name: price, dtype: int64

In [ ]:
price[2]

1415435

In [ ]:
price.index.name= 'counts'
price

counts
0          21312
1        1241414
2        1415435
3    14636531461
4     6134616134
Name: price, dtype: int64

In [ ]:
!git clone https://github.com/Ralph0210/AI-course.git
# connect with github

fatal: destination path 'AI-course' already exists and is not an empty directory.
/content/AI-course

In [ ]:
%cd /content/AI-course

/content/AI-course

In [ ]:
!git remote rm origin

In [ ]:
!git remote add origin https://Ralph0210:Andie0828Rain0210@github.com/Ralph0210/AI-course.git
#!git remote add origin https://accounts:password@github....

In [ ]:
!git config --global user.email "jxes1004104@gmail.com"
!git config --global user.name "Ralph0210"

In [ ]:
#!wget -O filename /http...... (use raw file)
#for downloading files from github

In [ ]:
!wget -O testing https://raw.githubusercontent.com/Ralph0210/AI-course/main/online_shoppers_intention.csv

--2021-01-20 05:37:36--  https://raw.githubusercontent.com/Ralph0210/AI-course/main/online_shoppers_intention.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1072063 (1.0M) [text/plain]
Saving to: ‘testing’

testing             100%[===================>]   1.02M  --.-KB/s    in 0.1s

2021-01-20 05:37:37 (10.2 MB/s) - ‘testing’ saved [1072063/1072063]

In [ ]:
!touch 123.txt

In [ ]:
!git add .
!git commit -m'add 123.txt'
!git push --set-upstream origin main

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean
Branch 'main' set up to track remote branch 'main' from 'origin'.
Everything up-to-date

In [215]:
s1 = pd.Series(np.arange(1,9,2))
s2 = pd.Series(np.arange(2,10,2))
df4 = pd.DataFrame({'c1':s1, 'c2':s2})
df4

   c1  c2
0   1   2
1   3   4
2   5   6
3   7   8

In [217]:
s3 = pd.Series(np.arange(5,7), index=[1,2])
df5 = pd.DataFrame({'c1':s1, 'c2':s2, 'c3':s3})
df5

   c1  c2   c3
0   1   2  NaN
1   3   4  5.0
2   5   6  6.0
3   7   8  NaN